# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*.iws
*.iml
*.ipr

# IntelliJ
.idea/
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Java class files
*.class
**/target